
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Primary Health Care Act
    - Kenya Law</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
  
      <link rel="alternate"
            type="application/atom+xml"
            title="Atom RSS Feed"
            href="/feeds/all.xml"/>
      
      
      
      
      
        <link rel="icon" type="image/ico" href="/static/images/favicon.efc8eb543aac.ico" />
        <link rel="icon"
              type="image/png"
              href="/static/images/favicon-16x16.e0c157a002bc.png"/>
        <link rel="icon"
              type="image/png"
              href="/static/images/favicon-32x32.276d6951efca.png"/>
        <link rel="icon"
              type="image/png"
              href="/static/images/favicon-96x96.ceac3fa0fc72.png"/>
        <link rel="icon"
              type="image/png"
              href="/static/images/favicon-180x180.82f372624b1a.png"/>
      
    
  <meta property="og:title" content="Primary Health Care Act" />
  <meta property="og:type" content="book" />
  <meta property="book:release_date"
        content="2023-11-24"/>
  
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="Primary Health Care Act"/>
  

    
  <link rel="stylesheet"
        href="/static/stylesheets/kenyalaw.9cd24ed80b98.css"
        type="text/css"/>

    
  <script id="peachjam-config" type="application/json">{"appName": "Kenya Law", "pdfWorker": "/static/js/pdf.worker-prod.993cc59d4572.js", "userHelpLink": "https://help.kenyalaw.org/", "sentry": {"dsn": "https://3966caf840335babd429d13f2fc58e75@o389880.ingest.us.sentry.io/4509053613768704", "environment": "prod"}}</script>
  
    <!-- sentry -->
    <script src="https://browser.sentry-cdn.com/8.19.0/bundle.min.js"
            integrity="sha384-GMXJOdPusU6buvY19uetB8sepCeSxAnhMOOvoTJ8NVDumzfGeBFgRFuRD6rsz8Np"
            crossorigin="anonymous"
            defer></script>
    
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async
              src="https://www.googletagmanager.com/gtag/js?id=G-QJFSP223QQ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        // set up default config
        gtag('js', new Date());
        gtag('set', {'lii_user_language': 'en'});

        // split multiple ids into array
        const google_analytics_ids = 'G-QJFSP223QQ'.trim().split(/\s+/);
        // loop through ids and add config for each
        google_analytics_ids.forEach(id => {
          gtag('config', id);
        });
      </script>
    
    
  
  <!-- must be last script to load -->
  <script defer src="/static/js/app-prod.16f72edd59e4.js"></script>

  </head>
  <body class=" kenyalaw">
    
  
<header>
  
    <div class="skip-links">
      <a class="bg-white"
         href="#document-content">Skip to document content</a>
      <a class="bg-white" href="#main-nav">Go to main menu</a>
      <a class="bg-white" href="#header-search">Go to search</a>
    </div>
  
  
  <nav class="navbar header-navbar-secondary py-0 navbar-expand-lg d-none d-lg-block">
    <div class="container">
      <ul class="navbar-nav ms-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=115">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=157">Judicial Profiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=1990">Product Catalogue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=2003">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=3158">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=3386">Site Map</a>
          </li>
        
      </ul>
    </div>
  </nav>
  <div class="header-primary-logo d-none d-lg-block pb-3">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        
          <a class="navbar-brand" href="/">
<img src="/static/images/logo.8b3a5f355cb3.png" alt="Kenya Law"/>
</a>
        
        
          
<form method="get" action="/search/">
  
    <div class="input-group">
      <input type="text"
             id="header-search"
             class="form-control"
             placeholder="Search Kenya Law"
             aria-label="Search Kenya Law"
             name="q"/>
      <button class="btn btn-secondary text-white" type="submit">
        <i class="bi bi-search "></i>
        <span>Search</span>
      </button>
    </div>
  
</form>

        
      </div>
    </div>
  </div>
  <nav class="navbar header-primary-navbar navbar-expand-lg shadow-sm">
    <div id="main-nav" class="container">
      
        <a class="navbar-brand d-block d-lg-none" href="/">
<img src="/static/images/logo.8b3a5f355cb3.png" alt="Kenya Law"/>
</a>
      
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="bi bi-list" style="font-size: 35px"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="d-lg-none mt-3">
<form method="get" action="/search/">
  
    <div class="input-group">
      <input type="text"
             id="header-search"
             class="form-control"
             placeholder="Search Kenya Law"
             aria-label="Search Kenya Law"
             name="q"/>
      <button class="btn btn-secondary text-white" type="submit">
        <i class="bi bi-search "></i>
        <span>Search</span>
      </button>
    </div>
  
</form>
</div>
        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-evenly w-100">
          
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown main-nav">
              <a class="nav-link dropdown-toggle "
                 role="button"
                 aria-expanded="false"
                 href="/judgments/">
                Case Law
              </a>
              <ul class="dropdown-menu ">
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/superior-courts/">Superior Courts</a>
                  </li>
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/subordinate-courts/">Subordinate Courts</a>
                  </li>
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/small-claims-court/">Small Claims Court</a>
                  </li>
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/civil-and-human-rights-tribunals/">Civil and Human Rights Tribunals</a>
                  </li>
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/commercial-tribunals/">Commercial Tribunals</a>
                  </li>
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/environment-and-land-tribunals/">Environment and Land Tribunals</a>
                  </li>
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/intellectual-property-tribunals/">Intellectual Property Tribunals</a>
                  </li>
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/regional-and-international-courts/">Regional and International Courts</a>
                  </li>
                
                  <li class="dropdown-item">
                    <a class=" nav-link px-0 text-muted"
                       href="/judgments/court-class/tribunals/">Tribunals</a>
                  </li>
                
                <li class="dropdown-item">
                  <a class=" nav-link px-0 text-muted"
                     href="/taxonomy/elections">Elections</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown main-nav">
              <a class="nav-link dropdown-toggle "
                 role="button"
                 aria-expanded="false"
                 href="/legislation/">
                Laws of Kenya
              </a>
              <ul class="dropdown-menu ">
                <li class="dropdown-item">
                  <a class=" nav-link px-0 text-muted"
                     href="/akn/ke/act/2010/constitution ">The Constitution of Kenya</a>
                </li>
                <li class="dropdown-item">
                  <a class=" nav-link px-0 text-muted" href="/legislation/">Laws of Kenya</a>
                </li>
                <li class="dropdown-item">
                  <a class=" nav-link px-0 text-muted"
                     href="/taxonomy/collections/collections-treaties">Treaties</a>
                </li>
                <li class="dropdown-item">
                  <a class=" nav-link px-0 text-muted"
                     href="/taxonomy/foreign-legislation/foreign-legislation-east-african-community-eac">
                    EAC Legislation
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link "
                 href="/legislation/counties">Counties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/causelists/">Cause List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "
                 href="/gazettes/">
                Kenya Gazette
              </a>
            </li>
            <li class="nav-item dropdown main-nav">
              <a class="nav-link  dropdown-toggle"
                 href="/taxonomy/publications"
                 role="button"
                 aria-expanded="false">
                Publications
              </a>
              
                <ul class="dropdown-menu ">
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-annual-report">
                        Annual Report
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-bench-bulletin">
                        Bench Bulletin
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-case-digests">
                        Case Digests
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-commission-reports">
                        Commission Reports
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-journals">
                        Journals
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-kenya-law-news">
                        Kenya Law News
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-kenya-law-reports">
                        Kenya Law Reports
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-law-related-articles">
                        Law Related Articles
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-qms-quality-policy">
                        QMS Quality Policy
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-service-delivery-charter">
                        Service Delivery Charter
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-strategic-plan">
                        Strategic Plan
                      </a>
                    </li>
                  
                    <li class="dropdown-item">
                      <a class=" nav-link px-0 text-muted"
                         href="/taxonomy/publications/publications-weekly-newsletter">
                        Weekly Newsletter
                      </a>
                    </li>
                  
                </ul>
              
            </li>
            <li class="nav-item dropdown main-nav">
              <a class="nav-link dropdown-toggle"
                 href=""
                 role="button"
                 aria-expanded="false">
                Parliament
              </a>
              <ul class="dropdown-menu ">
                <li class="dropdown-item">
                  <a class=" nav-link px-0 text-muted"
                     href="http://www.parliament.go.ke/the-national-assembly/committees">
                    Committee Reports
                  </a>
                </li>
                <li class="dropdown-item">
                  <a class=" nav-link px-0 text-muted"
                     href="/bills/"
                     /bills/>
                    Bills
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles/">Blog</a>
            </li>
          
        </ul>
        
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="btn btn-primary text-nowrap"
                 href="/accounts/login/?next=/akn/ke/act/2023/13/eng%402023-11-24">Log in</a>
            </li>
          </ul>
        
        





      </div>
    </div>
  </nav>
</header>


    
  
  
    
  

  <main id="top">
    

    
  <div class="pb-5">
    <div class="bg-light">
      <div class="container">
        
        
          <div class="d-md-flex justify-content-md-between py-3">
            <div>
              <h1>Primary Health Care Act</h1>
              <h2 class="h5 text-muted">Act No. 13 of 2023</h2>
              

            </div>
            <div class="d-flex align-items-center">
              <a href="https://api.whatsapp.com/send?text=https://new.kenyalaw.org/akn/ke/act/2023/13/eng@2023-11-24"
                 class="btn btn-link share-link"
                 target="_blank">
                <i class="bi bi-whatsapp whatsapp-forecolor share-icon"></i>
              </a>
              <a href="https://twitter.com/intent/tweet?text=https://new.kenyalaw.org/akn/ke/act/2023/13/eng@2023-11-24"
                 class="btn btn-link share-link"
                 target="_blank">
                <i class="bi bi-twitter-x twitter-x-forecolor share-icon"></i>
              </a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://new.kenyalaw.org/akn/ke/act/2023/13/eng@2023-11-24"
                 class="btn btn-link share-link"
                 target="_blank">
                <i class="bi bi-facebook facebook-forecolor share-icon"></i>
              </a>
              <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://new.kenyalaw.org/akn/ke/act/2023/13/eng@2023-11-24"
                 class="btn btn-link share-link"
                 target="_blank">
                <i class="bi bi-linkedin linkedin-forecolor share-icon"></i>
              </a>
              <a id="email-share"
                 href="mailto:?subject=Take a look at this document from Kenya Law: Primary Health Care Act&body=https://new.kenyalaw.org/akn/ke/act/2023/13/eng@2023-11-24"
                 class="btn btn-link share-link"
                 target="_blank"
                 data-subject="Take a look at this document from Kenya Law: Primary Health Care Act">
                <i class="bi bi-envelope-at-fill envelope-at-fill-forecolor share-icon"></i>
              </a>
            </div>
          </div>
        
        

        
<div class="btn-toolbar justify-content-end mb-3 document-detail-toolbar"
     role="toolbar"
     aria-label="Document toolbar">
  
    
  
  
    <div>
      
        <!-- this will be replaced by htmx -->
        <div class="save-document-button"></div>
        <div hx-get="/saved-documents/button/333889"
             hx-trigger="load"></div>
        <div id="saveDocumentModal"
             class="modal fade"
             tabindex="-1"
             aria-hidden="true">
          <div id="saveDocumentModalDialog" class="modal-dialog"></div>
        </div>
      
    </div>
    
      <div class="btn-group dropdown-center ms-2">
        <a href="/akn/ke/act/2023/13/eng@2023-11-24/source"
           class="btn btn-primary btn-shrink-sm"
           target="_blank">
          Download PDF
          (883.4 KB)
        </a>
        
      </div>
    
  
  
    <div>
      <button type="button"
              class="btn btn-outline-secondary btn-shrink-sm ms-2"
              data-bs-toggle="modal"
              data-bs-target="#documentProblemModal">
        <span class="d-md-none">Report</span>
        <span class="d-none d-md-inline">Report a problem</span>
      </button>
      <div class="modal fade"
           id="documentProblemModal"
           tabindex="-1"
           aria-labelledby="documentProblemModalTitle"
           aria-hidden="true"
           data-vue-component="DocumentProblemModal">
      </div>
    </div>
  
</div>

        
<div class="document-floating-header bg-light"
     data-component="FloatingHeader">
  <div class="btn-primary menu-toggle d-lg-none"
       data-bs-toggle="offcanvas"
       data-bs-target="#navigation-offcanvas"
       aria-controls="navigation-offcanvas">
    <i class="bi bi-menu-button-wide"
       title="Navigate document"></i>
  </div>
  <h5 class="title px-2 py-0 m-0 align-self-center">Primary Health Care Act</h5>
  <div class="ms-auto px-2 align-content-center text-nowrap">
    
    
<button type="button"
        class="btn btn-outline-secondary copy-to-clipboard"
        title="Copy to clipboard"
        data-component="CopyToClipboard"
        data-value='Act No. 13 of 2023'
        data-value-html='<a href="https://new.kenyalaw.org/akn/ke/act/2023/13/eng@2023-11-24">Act No. 13 of 2023</a>'
        data-confirmation="Copied!">
  
    Copy citation
  
</button>

    
      <!-- this will be replaced by htmx from the main toolbar's save document button is loaded -->
      <div class="save-document-button"></div>
    
  </div>
</div>

        <ul class="nav nav-tabs border-bottom scroll-xs" role="tablist">
          
  
            <li class="nav-item" role="presentation">
              <button class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#document-detail-tab"
                      type="button"
                      role="tab"
                      aria-controls="document-detail-tab"
                      aria-selected="true">
                <i class="bi bi-pj pj-document-detail"></i>
                Document detail
              </button>
            </li>
            
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#history-tab"
                        type="button"
                        role="tab"
                        aria-controls="history-tab"
                        aria-selected="false">
                  <i class="bi bi-pj pj-history"></i>
                  History
                </button>
              </li>
            
            
            
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#citations-tab"
                        type="button"
                        role="tab"
                        aria-controls="citations-tab"
                        aria-selected="false">
                  <i class="bi bi-pj pj-citations"></i>
                  Citations
                  <span class="badge bg-secondary">- / 15</span>
                </button>
              </li>
            
            
            
          
  

        </ul>
      </div>
    </div>
    <div class="tab-content mt-3">
      
  
        <div class="tab-pane fade show active"
             id="document-detail-tab"
             role="tabpanel"
             aria-labelledby="document-detail-tab">
          <div class="container">
            
              <div class="row">
                <div class="col-md mb-3">
                  
                    <dl class="document-metadata-list d-flex">
                      
                        
                      
                      
                        
                          <dt>
                            Citation
                          </dt>
                          <dd class="text-muted">
                            Act No. 13 of 2023
                            
<button type="button"
        class="btn btn-outline-secondary copy-to-clipboard"
        title="Copy to clipboard"
        data-component="CopyToClipboard"
        data-value='Act No. 13 of 2023'
        data-value-html='<a href="https://new.kenyalaw.org/akn/ke/act/2023/13/eng@2023-11-24">Act No. 13 of 2023</a>'
        data-confirmation="Copied!">
  
    Copy
  
</button>

                          </dd>
                        
                      
                      
                        
                          
                        
                      
                      
                      
  
  
                        
                          <dt>
                            Date
                          </dt>
                        
                        
                          <dd class="text-muted">
                            24 November 2023
                          </dd>
                        
                      

                      
                        <dt>
                          Language
                          
                        </dt>
                        
                          <dd class="text-muted">
                            English
                          </dd>
                        
                      
                      
  

                      
  
    <dt>
      Original enactment
    </dt>
    <dd class="text-muted">
      <a href="/akn/ke/act/2023/13/eng@2023-11-24/publication"
         target="_blank">Download original enactment (PDF)</a>
      (883.4 KB)
    </dd>
  

                      
                        
                          
                        
                      
                      
                        
                      
                    </dl>
                  
                </div>
                
              </div>
            
            
            <hr class="mb-5" />
          </div>
          <div class="container-fluid">
            
              

<div class="document-content"
     data-component="DocumentContent"
     data-display-type="pdf"
     data-title="Primary Health Care Act"
     >
  
    
<!--
contents of #navigation-content will be placed in [data-offcanvas-body] for tablet/mobile screensize
and #navigation-column for desktop screensize.
-->
<div class="skip-links">
  <a href="#document-content">Skip to document content</a>
</div>
<div id="navigation-content" class="d-none">
  <div class="navigation__inner">
    <nav>
      <div class="nav nav-tabs" id="navigation-tab" role="tablist">
        
        
          <button class="nav-link"
                  id="pdf-previews-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#pdf-previews"
                  type="button"
                  role="tab"
                  aria-controls="nav-toc"
                  aria-selected="true">
            Pages
          </button>
        
        <button class="nav-link"
                id="navigation-search-tab"
                data-bs-toggle="tab"
                data-bs-target="#navigation-search"
                type="button"
                role="tab"
                aria-controls="nav-search"
                aria-selected="false">
          Search
        </button>
      </div>
    </nav>
    <div class="tab-content"
         id="navigation-tab-content"
         data-preview-scroll-container>
      <div class="tab-pane fade h-100"
           id="navigation-search"
           role="tabpanel"
           aria-labelledby="nav-search-tab">
        <div data-doc-search class="h-100"></div>
      </div>
      
      
        <div class="tab-pane fade pdf-previews-pane"
             id="pdf-previews"
             role="tabpanel"
             aria-labelledby="pdf-previews">
          <div class="pdf-previews"></div>
        </div>
      
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-start document-content__offcanvas"
     tabindex="-1"
     id="navigation-offcanvas"
     aria-labelledby="navigation-offcanvasLabel">
  <div class="offcanvas-header justify-content-end">
    <button type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
  </div>
  <div class="navigation" data-offcanvas-body></div>
</div>
<script id="akn_toc_json" type="application/json">[{"id": "sec_nn_1", "num": null, "url": "https://indigo.kenyalaw.org/api/v3/akn/ke/act/2023/13/eng@2023-11-24/!main~sec_nn_1", "type": "section", "title": "Section", "heading": null, "children": [], "component": "main", "basic_unit": true}]</script>

  
  
    <div data-pdf="/akn/ke/act/2023/13/eng@2023-11-24/source.pdf"
         data-pdf-size="904649"
         
         data-pdf-standby>
    </div>
  
  <div class="document-content__inner">
    <div class="navigation" id="navigation-column"></div>
    <div id="document-content"
         class="content-and-enrichments"
         data-work-id="283682"
         data-work-frbr-uri="/akn/ke/act/2023/13"
         data-document-id="333889"
         data-diffs-url=""
         data-display-type="pdf"
         
         
         >
      <div class="content-and-enrichments__inner la-akoma-ntoso-with-gutter">
        
        
        
          <div class="content content__pdf">
            <div class="pdf-loading">
              <div class="text-center mb-2">
                <strong>Loading PDF...</strong>
              </div>
              <div class="progress">
                <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated"
                     role="progressbar"></div>
              </div>
            </div>
            <div class="pdf-content"></div>
            <div class="pdf-large-prompt">
              <p>
                This document is 883.4 KB. Do you want to load it?
              </p>
              <button class="btn btn-primary" type="button" data-load-doc-button>Load document</button>
            </div>
          </div>
        
        <la-gutter akoma-ntoso=".content-and-enrichments .content"></la-gutter>
      </div>
    </div>
  </div>
</div>

              <a href="#top" class="btn btn-sm btn-secondary to-the-top">▲ To the top</a>
            
          </div>
        </div>
        
          <div class="tab-pane fade"
               id="history-tab"
               role="tabpanel"
               aria-labelledby="history-tab">
            <div class="container">
<h4>
  <i class="bi bi-pj pj-history"></i>
  History of this document
</h4>
<div class="vertical-timeline ms-5 mt-4">
  
    <div class="vertical-timeline__item">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">
            24 November 2023
            
              <span class="badge rounded-pill bg-primary">this version</span>
            
            
          </h5>
        </div>
        <div class="card-body">
          
            <div>
              
                
                  <a href="/akn/ke/act/2023/13/eng@2023-11-24/publication"
                     target="_blank">Published in Kenya Gazette 249</a>
                
              
              
            </div>
          
          
        </div>
      </div>
    </div>
  
    <div class="vertical-timeline__item">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">
            02 November 2023
            
            
          </h5>
        </div>
        <div class="card-body">
          
            <div>
              
                Commenced
                
              
              
            </div>
          
          
        </div>
      </div>
    </div>
  
    <div class="vertical-timeline__item">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">
            19 October 2023
            
            
          </h5>
        </div>
        <div class="card-body">
          
            <div>
              
                Assented to
                
              
              
            </div>
          
          
        </div>
      </div>
    </div>
  
</div>
</div>
          </div>
        
        
        
          <div class="tab-pane fade"
               id="citations-tab"
               role="tabpanel"
               aria-labelledby="citations-tab">
            <div class="container">
<div class="container">
  <div class="row">
    <div class="col-lg mb-5">
      <h4 class="mb-3">
        <i class="bi bi-pj pj-citations"></i>
        Cited documents <span class="badge bg-secondary">0</span>
      </h4>
      


    </div>
    <div class="col-lg">
      <h4 class="mb-3">
        Documents citing this one <span class="badge bg-secondary">15</span>
      </h4>
      

  <h5 class="mt-4">
    Gazette <span class="badge bg-secondary">11</span>
  </h5>
  <table class="table table-striped table-borderless table-sm mb-0">
    <colgroup>
      <col />
      <col style="width: 100%"/>
      <col />
    </colgroup>
    <tbody id="citation-tbody-incoming-5">
      

  <tr>
    <td>1.</td>
    <td>
      <a href="/akn/ke/officialGazette/2024-09-13/141/eng@2024-09-13">Kenya Gazette Vol. CXXVI-No. 141</a>
      
    </td>
    <td class="text-nowrap">
      
        1 citation
      
    </td>
  </tr>

  <tr>
    <td>2.</td>
    <td>
      <a href="/akn/ke/officialGazette/gazette/2024-07-12/103/eng@2024-07-12">Kenya Gazette Vol. CXXVI-No. 103</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>

  <tr>
    <td>3.</td>
    <td>
      <a href="/akn/ke/officialGazette/gazette/2024-08-23/134/eng@2024-08-29">Kenya Gazette Vol. CXXVI-No. 134</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>

  <tr>
    <td>4.</td>
    <td>
      <a href="/akn/ke/officialGazette/gazette/2024-08-30/135/eng@2024-08-30">Kenya Gazette Vol. CXXVI-No. 135</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>

  <tr>
    <td>5.</td>
    <td>
      <a href="/akn/ke/officialGazette/gazette/2024-09-13/141/eng@2024-09-13">Kenya Gazette Vol. CXXVI-No. 141</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>

  <tr>
    <td>6.</td>
    <td>
      <a href="/akn/ke/officialGazette/2025-08-15/173/eng@2025-08-15">Kenya Gazette Vol. CXXVII-No. 173</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>

  <tr>
    <td>7.</td>
    <td>
      <a href="/akn/ke/officialGazette/2025-09-19/195/eng@2025-09-19">Kenya Gazette Vol. CXXVII-No. 195</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>

  <tr>
    <td>8.</td>
    <td>
      <a href="/akn/ke/officialGazette/2025-02-21/36/eng@2025-02-21">Kenya Gazette Vol. CXXVII-No. 36</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>

  <tr>
    <td>9.</td>
    <td>
      <a href="/akn/ke/officialGazette/2025-04-04/66/eng@2025-04-04">Kenya Gazette Vol. CXXVII-No. 66</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>

  <tr>
    <td>10.</td>
    <td>
      <a href="/akn/ke/officialGazette/2026-04-17/68/eng@2026-04-17">Kenya Gazette Vol. CXXVIII-No. 68</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>



    </tbody>
  </table>
  
    
<button class="btn btn-link"
        id="citation-button-incoming-5"
        hx-get="/akn/ke/act/2023/13/eng@2023-11-24/citations?direction=incoming&nature=5&offset=10"
        hx-target="#citation-tbody-incoming-5"
        hx-swap="beforeend"
        hx-swap-oob="true">
  More...
</button>

  

  <h5 class="mt-4">
    Judgment <span class="badge bg-secondary">2</span>
  </h5>
  <table class="table table-striped table-borderless table-sm mb-0">
    <colgroup>
      <col />
      <col style="width: 100%"/>
      <col />
    </colgroup>
    <tbody id="citation-tbody-incoming-6">
      

  <tr>
    <td>1.</td>
    <td>
      <a href="/akn/ke/judgment/keca/2024/1195/eng@2024-09-20">Cabinet Secretary, Ministry of Health v Aura &amp; 13 others (Civil Appeal (Application) E565 of 2024) [2024] KECA 1195 (KLR) (20 September 2024) (Ruling)</a>
      <span class="badge bg-primary me-2">Cited</span>
    </td>
    <td class="text-nowrap">
      
        1 citation
      
    </td>
  </tr>

  <tr>
    <td>2.</td>
    <td>
      <a href="/akn/ke/judgment/kehc/2026/3972/eng@2026-03-19">Okoiti &amp; 2 others v Cabinet Secretary, Ministry of Health &amp; 20 others (Petition E513 of 2024) [2026] KEHC 3972 (KLR) (Constitutional and Human Rights) (19 March 2026) (Judgment)</a>
      <span class="badge bg-primary me-2">Cited</span>
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>



    </tbody>
  </table>
  

  <h5 class="mt-4">
    Bench Bulletin <span class="badge bg-secondary">1</span>
  </h5>
  <table class="table table-striped table-borderless table-sm mb-0">
    <colgroup>
      <col />
      <col style="width: 100%"/>
      <col />
    </colgroup>
    <tbody id="citation-tbody-incoming-109">
      

  <tr>
    <td>1.</td>
    <td>
      <a href="/akn/ke/doc/bench-bulletin/2024-10-01/bench-bulletin-issue-66-july-september-2024/eng@2024-10-01">Bench Bulletin - Issue 66 July - September 2024</a>
      
    </td>
    <td class="text-nowrap">
      
    </td>
  </tr>



    </tbody>
  </table>
  

  <h5 class="mt-4">
    Legal Notice <span class="badge bg-secondary">1</span>
  </h5>
  <table class="table table-striped table-borderless table-sm mb-0">
    <colgroup>
      <col />
      <col style="width: 100%"/>
      <col />
    </colgroup>
    <tbody id="citation-tbody-incoming-1">
      

  <tr>
    <td>1.</td>
    <td>
      <a href="/akn/ke/act/ln/2024/49/eng@2025-02-28">The Social Health Insurance Regulations</a>
      
    </td>
    <td class="text-nowrap">
      
        2 citations
      
    </td>
  </tr>



    </tbody>
  </table>
  


    </div>
  </div>
</div>
</div>
          </div>
        
        
        
      
  

    </div>
    
    <script id="citation-links" type="application/json">[]</script>
    <script id="provision-relationships" type="application/json">[]</script>
  </div>

  </main>

    
  
<footer class="pt-4 pb-4 mt-5">
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-md-10">
        <p class="pb-0 mb-0">
          
          Except for some material which is expressly stated to be under a specified <a href="http://www.creativecommons.org/">Creative Commons</a>
          license, the contents of this website are in the public domain and free from any copyright restrictions.
        
        </p>
        <ul class="nav ms-0 ps-0">
          <li class="nav-item">
            <a class="nav-link ms-0" href="https://www.kenyalaw.org/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=115">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=2287">Our Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=133">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=3158">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kenyalaw.org/kl/index.php?id=3386">Site Map</a>
          </li>
        </ul>
        <div class="font-weight-bold">
          © 2026 National Council for Law Reporting (Kenya Law) is ISO 9001:2015 Certified. | <a href="https://kenyalaw.org/kl/index.php?id=2161">Creative Commons</a> · <a class="https://kenyalaw.org/kl/index.php?id=390">Privacy Policy and Disclaimer</a>
        </div>
      </div>
      <div class="col-md-2 text-end">
        <a class="btn btn-primary"
           href="https://kenyalaw.org/kl/index.php?id=3158">Contact us</a>
        <ul class="list-inline mt-3">
          
            <li class="list-inline-item">
              <a href="https://web.facebook.com/mykenyalaw"
                 target="_blank"
                 rel="noreferrer">
                <span class="visually-hidden">Visit our Facebook page</span>
                <i class="h2 facebook-forecolor bi bi-facebook"></i>
              </a>
            </li>
          
          
            <li class="list-inline-item">
              <a href="https://x.com/mykenyalaw"
                 target="_blank"
                 rel="noreferrer">
                <span class="visually-hidden">Visit our Twitter/X profile</span>
                <i class="h2 twitter-x-forecolor bi bi-twitter-x"></i>
              </a>
            </li>
          
          
          
            <li class="list-inline-item">
              <a href="https://www.youtube.com/mykenyalaw"
                 target="_blank"
                 rel="noreferrer">
                <span class="visually-hidden">Visit our YouTube channel</span>
                <i class="h2 youtube-forecolor bi bi-youtube"></i>
              </a>
            </li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>


  </body>
</html>
